.container{

}
#showDiv{
  margin-top: 10px;
  margin-bottom: 15px;
}
.menue
{
  width: 100%;
  padding:10px;
  background-color: #c34f4f;
  text-align: center;
  border-top: 1px solid #751b1b;
  border-bottom: 1px solid #751b1b;
}

.content{
  margin-right: auto;
  margin-left: auto;
}

.messageForm .programForm{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.hiddenDiv{
  display: none;
  width: 400px;
}


ul
{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  height: 40px;
  line-height: 200%;
  display: inline-block;
}

ul a
{
  color: rgba(226, 226, 226, 0.96);
  text-decoration: none;
  display: block;
}

ul > li
{
  float:left;
  width: 250px;
  height: 45px;
  border-right: 1px dashed #751b1b;
}

ul > li:first-child
{
  border-left: 1px dashed #751b1b;
}

ul > li:hover
{
  background-color: #cf6969;
}

ul > li:hover > a
{
  color: #451717;

}

ul > li:hover > ul
{
  display: block;
}

ul > li > ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  display: none;

}

ul > li > ul > li
{
  background-color: #cf6969;
  position: relative;
  z-index: 100;
  border-top: 1px dashed #751b1b;
}

ul > li > ul > li:hover
{
  backgound-color: #c34f4f;
}

ul > li > ul > li:hover > a
{
  color: #451717;
}

#editBtn{
  float: left;
}

#delBtn{
  float: left;
}

tbody{
  margin: auto;
  vertical-align: center;
}